.calculator-container {
  width: 350px;
  height: 540px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #82aaf5;
}

.calculator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator button {
  font-size: 24px;
  width: 45px;
  height: 30px;
  margin: 5px;
}

.form-control {
  font-size: 32px;
  text-align: right;
 
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
